<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ title }}{% endblock %}</title>
    <style>
    img.tree {image-resolution: 300dpi;}
    img.plot {image-resolution: 150dpi;}
    img.dt_legend {
        display: block;
        margin: 0 auto;
        image-resolution: 150dpi;
        }
    table, th, td {
        border: 1px solid black;
    }
    </style>
</head>
<body>
    {% block body %}
    <h1> {{ report_title }}</h1>
    <p>
    {% if 'Patient_Name' in metadata %} {{metadata['Patient_Name']}} <br/>{% endif %}
    {% if 'Init_Date' in metadata and 'End_Date' in metadata %} {{metadata['Init_Date'].strftime("%d/%m/%y")}}
    - {{metadata['End_Date'].strftime("%d/%m/%y")}} <br/>{% endif %}
    </p>

    {% if warnings is defined %}
    <div>
        <h2> {{ warnings_title }}</h2>
        <p>
        <ul>
            {% for warning in warnings %}
            <li>{{ warning }}</li>
            {% endfor %}
        </ul>
        </p>
    </div>
    {% endif %}

    <div style="page-break-after: always">
        {% if hyperglycemia_patterns is defined %}
        <div>
            <h2> {{ hyperglycemia_patterns_title }}</h2>
            <p>
                {% for pattern in hyperglycemia_patterns %}
                <h3> {{ pattern_title }} {{ loop.index }}</h3>
                <ul>
                    {% for rule in pattern.rules %}
                    <li>{{ rule }}</li>
                    {% endfor %}
                </ul>
                <div>
                {{ '{:s}: {:.4g} ({:.2%})'.format(samples_title,pattern.sample_size, pattern.sample_size / pattern.total_records)}}<br/>
                {{ '{:s}: {:.4g}'.format(impurity_title, pattern.impurity)}} <br/>
                {{ '{:s}: {:.4g} ({:.2%})'.format(number_pos, pattern.sample_size_pos, pattern.sample_size_pos / pattern.total_pos)}}<br/>
                {{ '{:s}: {:.4g} ({:.2%})'.format(number_neg, pattern.sample_size_neg, pattern.sample_size_neg / pattern.total_neg) }}<br/>
                </div>
                {% endfor %}
            </p>
        </div>
        {% endif %}

        {% if hypoglycemia_patterns is defined %}
        <div>
            <h2> {{ hypoglycemia_patterns_title }}</h2>
            <p>
                {% for pattern in hypoglycemia_patterns %}
                <h3> {{ pattern_title }} {{ loop.index }}</h3>
                <ul>
                    {% for rule in pattern.rules %}
                        <li>{{ rule }}</li>
                     {% endfor %}
                </ul>
                <div>
                {{ '{:s}: {:.4g} ({:.2%})'.format(samples_title,pattern.sample_size, pattern.sample_size / pattern.total_records)}}<br/>
                {{ '{:s}: {:.4g}'.format(impurity_title, pattern.impurity)}} <br/>
                {{ '{:s}: {:.4g} ({:.2%})'.format(number_pos, pattern.sample_size_pos, pattern.sample_size_pos / pattern.total_pos)}}<br/>
                {{ '{:s}: {:.4g} ({:.2%})'.format(number_neg, pattern.sample_size_neg, pattern.sample_size_neg / pattern.total_neg) }}<br/>
                </div>
                {% endfor %}
            </p>
        </div>
        {% endif %}

        {% if severe_hyperglycemia_patterns is defined %}
        <div>
            <h2> {{ severe_hyperglycemia_patterns_title }}</h2>
            <p>
                {% for pattern in severe_hyperglycemia_patterns %}
                <h3> {{ pattern_title }} {{ loop.index }}</h3>
                <ul>
                    {% for rule in pattern.rules %}
                        <li>{{ rule }}</li>
                     {% endfor %}
                </ul>
                <div>
                {{ '{:s}: {:.4g} ({:.2%})'.format(samples_title,pattern.sample_size, pattern.sample_size / pattern.total_records)}}<br/>
                {{ '{:s}: {:.4g}'.format(impurity_title, pattern.impurity)}} <br/>
                {{ '{:s}: {:.4g} ({:.2%})'.format(number_pos, pattern.sample_size_pos, pattern.sample_size_pos / pattern.total_pos)}}<br/>
                {{ '{:s}: {:.4g} ({:.2%})'.format(number_neg, pattern.sample_size_neg, pattern.sample_size_neg / pattern.total_neg) }}<br/>
                </div>
                {% endfor %}
            </p>
        </div>
        {% endif %}

        <div>
            <h2> {{ decision_trees_title }}</h2>
            {% if hyper_dt_graph_path is defined %}
            <div>
            <h3> {{hyper_dt_title}}</h3>
                <p> <img class="tree" src={{ hyper_dt_graph_path }}> </p>
            </div>
            {% endif %}
            {% if hypo_dt_graph_path is defined %}
            <div>
            <h3> {{hypo_dt_title}}</h3>
                <p> <img class="tree" src={{ hypo_dt_graph_path }}> </p>
            </div>
            {% endif %}
            {% if severe_dt_graph_path is defined %}
            <div>
            <h3> {{severe_dt_title}}</h3>
                <p> <img class="tree" src={{ severe_dt_graph_path }}> </p>
            </div>
            {% endif %}
        </div>
    </div>

    {% if block_section_data is defined %}
    <div>
        <h2> {{ blocks_title }} </h2>
        {% for day, day_info in block_section_data.items(): %}
            <div style="page-break-after: always">
                <h3> {{ day.strftime("%d/%m/%Y") }}</h3>
                <p> <img class="plot" src={{day_info.plot_path }}> </p>
                <table style="width:100%" border="1">
                    <thead>
                        <tr>
                            <th rowspan="2">{{ block_label }}</th>
                            <th rowspan="2">{{ carbo_label }}</th>
                            <th rowspan="2">{{ rapid_insulin_label }}</th>
                            <th colspan="4">{{ glucose_stats_label }}</th>
                        </tr>
                        <tr>
                            <th>{{ mean_label }}</th>
                            <th>{{ std_label }}</th>
                            <th>{{ max_label }}</th>
                            <th>{{ min_label }}</th>
                        </tr>
                    </thead>
                        {% for block in day_info.block_data: %}
                           <tr>
                                <td> {{ block.block_num }} </td>
                                <td> {{'{0:g}'.format(block.carbo)}} </td>
                                <td> {{'{0:g}'.format(block.rapid_insulin)}} </td>
                                <td> {{'{0:g}'.format(block.mean)}} </td>
                                <td> {{'{0:g}'.format(block.std)}} </td>
                                <td> {{'{0:g}'.format(block.max)}} </td>
                                <td> {{'{0:g}'.format(block.min)}} </td>
                           </tr>
                        {% endfor %}
                </table>
                <p>
                    <strong> {{ day_summary_title }} </strong>
                    <ul>
                        <li> {{ mean_day_label }}: {{ '{0:2g}'.format(day_info.mean) }}</li>
                        <li> {{ std_day_label }}: {{ '{0:g}'.format(day_info.std) }}</li>
                        <li> {{ max_day_label }}: {{ '{0:g}'.format(day_info.max) }}</li>
                        <li> {{ min_day_label }}: {{ '{0:g}'.format(day_info.min) }}</li>
                        {% if day_info.mage|string != 'nan' %}
                        <li> {{ mage_label }}: {{ '{0:g}'.format(day_info.mage)}}</li>
                        {% endif %}

                    </ul>
                </p>
            </div>
            {% endfor %}
        </div>
        {% endif %}

        <div style="page-break-before: always">
        {% block info %}
        {% if language == 'es' %}
            {% include "_report_info_es.html" %}
        {% elif language == 'en' %}
             {% include "_report_info_en.html" %}
        {% endif %}
        {% endblock %}
        </div>
    {% endblock %}
</body>
</html>

